<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
    {{ mailout.subject }}
</title>

<link href="http://cdn.mailoutinteractive.com/css/trouble.css" rel="stylesheet" type="text/css">


{% if google_font_array | size > 0 %}
    <style>
        @import url(href='https://fonts.googleapis.com/css?family={{ google_font_array | join : "|" }}');
    </style>
    <!--[if !mso]><!-->
    <link href='https://fonts.googleapis.com/css?family={{ google_font_array | join : "|" }}' rel='stylesheet' type='text/css'>
    <!--<![endif]-->
{% endif %}
{% include "..stylescss" %}



