{% assign section_table_width = table_width -%}
{% assign section_body_bgcolor = path_section_settings.bgcolor -%}
{% assign section_email_bgcolor = path_section_settings.bgcolor_body -%}
{% assign section_padding_top = path_section_settings.padding.top -%}
{% assign section_padding_bottom = path_section_settings.padding.bottom -%}
{% assign section_padding_left = path_section_settings.padding.left -%}
{% assign section_padding_right = path_section_settings.padding.right -%}
{% assign path_overrides = item.section_overrides -%}
{% assign path_padding =  item.padding -%}
{% if path_overrides.body_bgcolor %}
{% assign section_body_bgcolor = path_overrides.body_bgcolor -%}
{% endif %}
{% if path_overrides.email_bgcolor %}
{% assign section_email_bgcolor = path_overrides.email_bgcolor -%}
{% endif %}
{% if path_padding.top %}
{% assign section_padding_top = path_padding.top -%}
{% endif %}
{% if path_padding.bottom %}
{% assign section_padding_bottom = path_padding.bottom -%}
{% endif %}
{% if path_padding.left %}
{% assign section_padding_left = path_padding.left -%}
{% endif %}
{% if path_padding.right %}
{% assign section_padding_right = path_padding.right -%}
{% endif %}