{% if item.alignment == "left" or item.alignment == "right"  %}
<table cellpadding="0" cellspacing="0" border="0" class="wrapper" align="left">
  <tr>
    <td align="center" nowrap="nowrap" style="
            color: {{ item.style.color }};
            font-size: {{ item.style.fontsize }};
            line-height: {{ item.style.lineheight }};
      ">
        {% if item.alignment == "left" %}
             {{ mailout.datesent | date: item.date_format }}
        {% else %}
             {{ item.text | default: "&nbsp;" }}
        {% endif %}
    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="wrapper" align="right">
  <tr>
    <td align="center" nowrap="nowrap" style="
            color: {{ item.style.color }};
            font-size: {{ item.style.fontsize }};
            line-height: {{ item.style.lineheight }};
      ">
        {% if item.alignment != "left" %}
             {{ mailout.datesent | date: item.date_format }}
        {% else %}
             {{ item.text | default:"&nbsp;" }}
        {% endif %}
    </td>
  </tr>
</table>
{% elsif item.alignment == "center" -%}

<table width="100%" cellpadding="0" cellspacing="0" border="0" class="wrapper" align="center">
  <tr>
    <td align="center" nowrap="nowrap" style="
            color: {{ item.style.color }};
            font-size: {{ item.style.fontsize }};
            line-height: {{ item.style.lineheight }};
      ">
        {{ mailout.datesent | date: item.date_format }}
    </td>
  </tr>
</table>

{% endif %}
